body .wrapper {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

body .wrapper .pod {
  position: absolute;
  height: 11em;
  width: 11em;
  margin: auto;
  background: linear-gradient(135deg, #3bab3b 50%, #1c601c 50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 100% 0;
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: -1;
}

body .wrapper .pea {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
}

body .wrapper .pea.pea-left {
  background: #85d585;
  top: 30px;
  left: 55px;
}

body .wrapper .pea.pea-left .eyes-close {
  width: 6px;
  height: 4px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border: 2px solid black;
  border-bottom: 0;
  z-index: 999;
}

body .wrapper .pea.pea-left .eyes-close.eye-left {
  position: absolute;
  top: 16px;
  left: 18px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .wrapper .pea.pea-left .eyes-close.eye-right {
  position: absolute;
  top: 15px;
  left: 48px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .wrapper .pea.pea-left .cheeks {
  width: 10px;
  height: 10px;
  background: hotpink;
  border-radius: 50%;
  opacity: 0.6;
}

body .wrapper .pea.pea-left .cheeks.cheek-left {
  position: absolute;
  top: 24px;
  left: 8px;
}

body .wrapper .pea.pea-left .cheeks.cheek-right {
  position: absolute;
  top: 18px;
  left: 61px;
}

body .wrapper .pea.pea-left .mouth {
  position: absolute;
  width: 8px;
  height: 4px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid black;
  border-top: 0;
  z-index: 999;
  top: 23px;
  left: 32px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body .wrapper .pea.pea-left:after {
  content: "";
  background: #1c601c;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 58px;
  z-index: 9999;
}

body .wrapper .pea.pea-right {
  background: #479d47;
  top: 30px;
  left: 125px;
}

body .wrapper .pea.pea-right .eyes-open {
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
}

body .wrapper .pea.pea-right .eyes-open.eye-left {
  position: absolute;
  top: 13px;
  left: 22px;
}

body .wrapper .pea.pea-right .eyes-open.eye-right {
  position: absolute;
  top: 15px;
  left: 52px;
}

body .wrapper .pea.pea-right .mouth {
  position: absolute;
  width: 8px;
  height: 4px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid black;
  border-top: 0;
  z-index: 999;
  top: 23px;
  left: 33px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

body .wrapper .pea.pea-right .cheeks {
  width: 10px;
  height: 10px;
  background: hotpink;
  border-radius: 50%;
  opacity: 0.6;
}

body .wrapper .pea.pea-right .cheeks.cheek-left {
  position: absolute;
  top: 18px;
  left: 8px;
}

body .wrapper .pea.pea-right .cheeks.cheek-right {
  position: absolute;
  top: 18px;
  left: 62px;
}

body .wrapper .leaf {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  position: absolute;
  z-index: 99;
}

body .wrapper .leaf.leaf-top {
  background: #76dc76;
  top: 50px;
  left: 223px;
  width: 45px;
  height: 45px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  -webkit-transform: rotate(-170deg);
          transform: rotate(-170deg);
}

body .wrapper .leaf.leaf-bottom {
  background: #369a36;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  top: 76px;
  left: 220px;
  width: 45px;
  height: 45px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

body .wrapper .stem {
  position: absolute;
  width: 40px;
  height: 20px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 40px;
  border: 10px solid green;
  border-top: 0;
  z-index: -9;
  top: 63px;
  left: 230px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/*# sourceMappingURL=style.css.map */