body {
    .wrapper {
        width: 300px;
        margin: 0 auto;
        position: relative;
        .pod {
            position: absolute;
            height: 11em;
            width: 11em;
            margin: auto;
            background: linear-gradient(135deg, rgb(59, 171, 59) 50%, rgb(28, 96, 28) 50%);
            transform: rotate(45deg);
            border-radius: 100% 0;
            position: absolute;
            top: 0px;
            left: 50px;
            z-index: -1;
        }
        .pea {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;

            &.pea-left {
                background: rgb(133, 213, 133);
                top: 30px;
                left: 55px;
                .eyes-close {
                    width: 6px;
                    height: 4px;
                    border-top-right-radius: 100px;
                    border-top-left-radius: 100px;
                    border: 2px solid black;
                    border-bottom: 0;
                    z-index: 999;
                    &.eye-left {
                        position: absolute;
                        top: 16px;
                        left: 18px;
                        transform: rotate(-10deg);
                    }
                    &.eye-right {
                        position: absolute;
                        top: 15px;
                        left: 48px;
                        transform: rotate(10deg);
                    }
                }
                .cheeks {
                    width: 10px;
                    height: 10px;
                    background: hotpink;
                    border-radius: 50%;
                    opacity: 0.6;
                    &.cheek-left {
                        position: absolute;
                        top: 24px;
                        left: 8px;
                    }
                    &.cheek-right {
                        position: absolute;
                        top: 18px;
                        left: 61px;
                    }
                }
                .mouth {
                    position: absolute;
                    width: 8px;
                    height: 4px;
                    border-bottom-right-radius: 100px;
                    border-bottom-left-radius: 100px;
                    border: 2px solid black;
                    border-top: 0;
                    z-index: 999;
                    top: 23px;
                    left: 32px;
                    transform: rotate(-5deg);
                }

                &:after {
                    content: "";
                    background: rgb(28, 96, 28);
                    width: 150px;
                    height: 25px;
                    position: absolute;
                    top: 58px;
                    z-index: 9999;
                }
            }
            &.pea-right {
                background: rgb(71, 157, 71);
                top: 30px;
                left: 125px;
                .eyes-open {
                    width: 7px;
                    height: 7px;
                    background: #000;
                    border-radius: 50%;
                    &.eye-left {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                    }
                    &.eye-right {
                        position: absolute;
                        top: 15px;
                        left: 52px;
                    }
                }
                .mouth {
                    position: absolute;
                    width: 8px;
                    height: 4px;
                    border-bottom-right-radius: 100px;
                    border-bottom-left-radius: 100px;
                    border: 2px solid black;
                    border-top: 0;
                    z-index: 999;
                    top: 23px;
                    left: 33px;
                    transform: rotate(5deg);
                }
                .cheeks {
                    width: 10px;
                    height: 10px;
                    background: hotpink;
                    border-radius: 50%;
                    opacity: 0.6;
                    &.cheek-left {
                        position: absolute;
                        top: 18px;
                        left: 8px;
                    }
                    &.cheek-right {
                        position: absolute;
                        top: 18px;
                        left: 62px;
                    }
                }
            }
        }
        .leaf {
            -webkit-border-top-left-radius: 0;
            -webkit-border-top-right-radius: 75px;
            -webkit-border-bottom-left-radius: 75px;
            position: absolute;
            z-index: 99;
            &.leaf-top {
                background: rgb(118, 220, 118);
                top: 50px;
                left: 223px;
                width: 45px;
                height: 45px;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                transform: rotate(-170deg);
            }
            &.leaf-bottom {
                background: rgb(54, 154, 54);
                transform: rotate(70deg);
                top: 76px;
                left: 220px;
                width: 45px;
                height: 45px;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
            }
        }
        .stem {
            position: absolute;
            width: 40px;
            height: 20px;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 100px;
            border-top-right-radius: 40px;
            border: 10px solid green;
            border-top: 0;
            z-index: -9;
            top: 63px;
            left: 230px;
            transform: rotate(0deg);
        }
    }
}